<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>记账本</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>记账本</h1>
                <form action="/account" method="post">
                    <div class="form-group">
                        <label for="data">时间：</label>
                        <input 
                            name="time"
                            type="date" 
                            class="form-control"
                            id="data
                            required
                         />
                    </div>
                    <div class="form-group">
                        <label for="type">类型：</label>
                        <select name="type" id="type" class="form-control">
                            <option value="1">收入</option>
                            <option value="-1">支出</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="amount">金额：</label>
                        <input type="text" name="amount" id="amount" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="note">备注：</label>
                        <input type="text" name="note" id="note" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">添加</button> 
                </form>
            </div>
        </div>
    </div>
    
   
</body>
</html>
<!-- 引入 Bootstrap JS 文件 -->