<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>提醒</title>
    <link href="#"
          ref="stylesheet"
    />
    <style>
        .h-50{
           height: 50vh;
       }
    </style>
</head>
<body>
    <div class="container">
        <div class="h-50">
            <div class="alert_alert-success" role="alert">
                <h1>:) <%= msg %></h1>
                <p><a href="<%= url %>">点击跳转</a></p>
            </div>
        </div>
    </div>
</body>
</html>